//* VARIAVEIS SASS

//* media queries
$mobile-height-medium: "min-height:640px";

$mobile-width-small: "min-width: 320px";
$mobile-width-medium: "min-width: 414px";
$mobile-width-large: "min-width: 500px";

$tablet-width-medium: "min-width: 650px";

$desktop: "min-width: 900px";
$desktop-large: "min-width: 1000px";
