.linha {
    height: 10vh;
    font-family: var(--fonte-principal);
    &:nth-child(2n) {
        background-color: var(--branco-escuro);
    }

    &__dado {
        padding: 0.5rem 0.5rem 0.5rem 1rem;

        &--nome {
            display: block;
            font-size: 0.9rem;
            text-transform: capitalize;
        }

        &--pontuacao {
            text-align: center;
        }
    }
}
