.tag {
    display: inline-block;
    font-family: var(--fonte-secundaria);
    padding: 0.4rem;
    font-size: 0.65rem;
    font-weight: 600;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
    color: var(--branco);

    &--afro {
        background-color: var(--preto);
    }

    &--t1-convocado, &--t1-extra {
        background-color: var(--vermelho);
    }

    &--t2-convocado, &--t2-extra {
        background-color: var(--azul);
    }

    &--t3-convocado,  &--t3-extra{
        background-color: var(--verde);
    }
}
