$transition-menu: transform 500ms ease-in-out;

%desenha-traco-menu {
    background-color: #fff;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: $transition-menu;
    width: 50%;
}

.menu-icone {
    $this: &;
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-botao-menu);

    &__input {
        display: none;
    }

    &__input:checked {
        & ~ .menu {
            left: 0;
            opacity: 1;
        }

        & ~ #{$this}__label {
            $translateX: -1.5em;
            $rotate: 45deg;    
                    
            color: transparent;

            &::before {
                transform: translate($translateX, 1em) rotate($rotate);
            }

            &::after {
                transform: translate($translateX, -1em) rotate(-$rotate);
            }
        }
    }

    &__label {
        color: var(--branco);
        cursor: pointer;
        padding: 1rem;
        position: relative;
        text-align: center;
        transition: $transition-menu, color 500ms ease-in-out;
        z-index: 1;

        &::before {
            @extend %desenha-traco-menu;
            top: 1.2em;
        }

        &::after {
            @extend %desenha-traco-menu;
            top: 3.1em;
        }
    }
}
