@import "../components/field";

.pane {
    font-size: 1rem;

    &__label {
        font-family: var(--fonte-secundaria);
        font-size: 1rem;
        font-weight: var(--peso-medium);
        margin-bottom: 1rem;

        &--espacamento-maior {
            margin-top: 2rem;
        }

        @media ($mobile-height-medium) {
            padding-top: 1rem;
        }
    }

    &__field {
        margin-bottom: 1rem;
    }
}
